@charset "UTF-8";
/** 
	$Id: stylesheet.css 2133 2013-04-04 04:28:02Z saanina $
/**
	Misc
	-------------------------------------------------- */

	/* debug kleeja */
	.debug_kleeja{width:80%;margin:0 auto;margin:20px 0;}
	.debug_kleeja fieldset{margin:0 auto;width:80%;}
	
	/* verification code */
	.safe_code {	margin:10px 0;padding: 10px;}
	.safe_code p {line-height:10px;font-size:90%;font-weight:700;}
	.safe_code input[type="text"]{padding:4px;text-transform:lowercase;direction:ltr;}

 
	/* captcha stuff */
	#kleeja_img_captcha {cursor:pointer;float:right;}
	
	#loadbox {padding: 15px;	display:none;}
	.waitloading{font-size:120%;margin:5px;}


	/*	ONLINE -------------------- */
	.online{width:100%;float:right;padding:2px 0;display:block;}
	.onlineall, .onlinevisitor, .onlineusers, .name_users {float:right;line-height:16px;margin: 0 0 8px 5px;padding:2px 10px;font-weight:400;}


/*	--------------------------------------------------
	10. Template & Rules > rules.html
	-------------------------------------------------- */
	#rules {padding:10px 0;font-size:90%;font-weight:700;}
	#rules .rut {clear:both;margin-bottom:3px;padding:4px 0px;text-indent:10px;}
	#rules .rls {display:block;text-indent:10px;}
	#rules .rls ul{list-style-type:disc;text-indent:4px;}
	#rules .rls ul li {line-height:20px;padding:1px 5px 2px 0;}

/* @end */



/*	--------------------------------------------------
	12. Template & Users Files > fileuser.html
	-------------------------------------------------- */
	#boxfileuser ,#filecplink {display:block;margin:8px auto;font-weight: 700;}
	#boxfileuser .box_user, #boxfileuser .us3r_n4me {display:inline;height:60px;}
	#boxfileuser .box_user {width:46%;float:right;}
	#boxfileuser .us3r_n4me {width:45%;float:left;}
	#boxfileuser .public {margin:5px auto;font-size:90%;padding:5px 10px;text-align:center;}
	#boxfileuser .uname, #boxfileuser .nums{font-size:160%;padding-top:4px;text-align:center;}
	#filecplink fieldset{padding: 15px;margin:8px auto;}
	#filecplink  input.link_user {direction:ltr;width:98%;margin:0 auto;padding:6px;font-size:90%;font-weight: 700;letter-spacing:1px;}
	#filecplink legend.copylink {font-size:90%;font-weight: 400;padding:0 5px;}
	.fileuser_files{padding:10px}
	.fileuser-thumbs {width:100%;}
	.fileuser-thumbs ul{list-style-type: none;}
	.fileuser-thumbs li{
		display: inline;
		list-style: none;
		width: 150px;
		height: 150px;
		float: left;
		margin: 0 5px 20px 0;
		text-align: center;
	}
	.fileuser-thumbs li.is_image{
		background:#CCCCCC url(../images/img_container.png) no-repeat 50% 50%;
	}
	.fileus-thumbs .kcheck{
		
	}

	.fileuser-thumbs img{
		height: 150px !important;
		width: 150px !important;
	}
	.fileuser-thumbs .filebox{
		background-repeat:no-repeat;
		background-position:50% 15%;
		border:1px solid #ccc;
		background-color:#EFEFFF;
		width:150px;
		height:150px;
	}

	.filebox .this_file{
		padding-top:50px;
	}
	.filebox .this_file_select{
		padding-top:20px;
	}
	.filebox .fileinfo{
		padding-top:10px;
		text-align:right;
		padding-right:10px;
	}
	.fileuser-thumbs .fileinfo span{
		font-size:10px;
		padding:2px;
		display:block;
	}
/* @end */


/*	--------------------------------------------------
	19. Template & List of allowed file upload > guide.html
	-------------------------------------------------- */
	#guide {width:100%;margin:5px auto 15px;}
	.guide_right_th, .guide_left_th{padding:8px 15px;font-weight:700;font-size:12px;text-align:center;}
	.guide_right_box{padding:10px;margin:1px 0px;}
	.guide_right_img,.guide_right_n4me, .guide_left_img {display:block;font-size:12px;font-weight:700;padding:5px 8px;}
	.guide_right_n4me{display:inline;}
	.guide_right_img img{padding-left:5px;}
	.guide_right_ext{line-height:18px;padding:4px 8px;margin:2px 0; text-align:center}
	.guide_left_ext{line-height:18px;padding:4px 8px;margin:2px 0;text-align:center}
	.guide_right_ext_color{font-size:12px;margin:0 2px; }
	.guide_right_ext_lang{font-weight:400;font-size:12px;margin:0 2px;}
	.guide_right_ext_lang{font-weight:400;font-size:12px;margin:0 2px;}
	.guide_left_img img{padding-left:5px;}
/* @end */
