
@font-face {
    font-family: "JF Flat Regular";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5{
  font-family:'JF Flat Regular', sans-serif;
}


/*admin_header*/
.navbar-static-top {
  margin-bottom: 19px;
}
.icon-for-menu {
	background-repeat:no-repeat !important;
    background-position: center center;
}


/*admin_img*/
.max-thumbnail-size{
	max-width:150px;
	height:auto;
	margin:5px;
}

.thumbnail-selected{
	border:1px solid red;
}

.kcheck {
	margin:0;
}

#search-one-item{
	width:50%;
}
.img-info-box{
	font-size:11px;
}

/*admin_users*/
.user-group-box{
	padding:4px;
}

/*general*/
.popover {
	max-width: 800px;
	width: auto;
}
/*admin_start*/
.graphLabelchart_stats{
	font-size:10px;
}
